.chartWrapper {
	position: relative;
	flex-shrink: 0;
}

.chartSvg {
	width: 100%;
	height: 100%;
}

.chartSegment {
	transition: opacity 0.15s ease;
}

.chartSegment:hover {
	opacity: 0.8;
}

.emptyState {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: 13px;
	color: #7a8498;
	text-align: center;
}
